body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-size: 1.25em; */
}

body {
    background-color: #E7FDFF;
}

section {
    padding: 1.5em;
    min-height: 100px;
}

section:nth-child(even) {
    background-color: #CEFBFF;
}

h1 {
    font-size: 2.25em;
}

label, aside {
    font-size: 1.25em;
    margin-right: 1em;
    display: inline-block;
}

aside {
    transition: opacity 0.5s;
    opacity: 0;
}

aside.alerting {
    opacity: 1;
}

select, button {
    font-size: 1.25em;
    margin-right: 1em;
    margin-bottom: 1em;
}